html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: effra;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "effra";
  src: url("../asset/effra_sv/Effra_Std_Lt.ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "effra";
  src: url("../asset/effra_sv/Effra_Std_Rg.ttf");
  font-style: medium;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "effra";
  src: url("../asset/effra_sv/Effra_Std_Bd.ttf");
  font-style: bold;
  font-weight: 600;
  font-display: swap;
}
